.x-modal > .modal-content {
    border-radius: 22px!important;
    width: 400px!important;
    padding:5px;
}

.x-profile-modal > .modal-content {
    border-radius: 22px!important;
    width: 400px!important;
}

.close > span {
    background: #F8F8F8;
    border-radius: 50%;
    padding: 0px 6px;
}